.sidenav {
  background: #3753fc;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  margin-top: 5rem;
  left: 1rem;
  width: 5rem;
  height: 90vh;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;

  border-radius: 20px;

  .logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;

    .logo {
      background: #fff;
      text-align: center;
      width: 3rem;
      min-width: 3rem;
      border-radius: 0.313rem;
      padding: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
    }

    .logo-text {
      margin-left: 1.5rem;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      font-family: "Kanit";
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .fa-times {
        color: #fff;
        font-size: 24px;
      }
    }
  }
}

.sidenav-collapsed {
  width: 16.5625rem;
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);
  cursor: pointer;

  .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: #f3f3f3;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all 0.3s ease;

      .sidenav-link-icon {
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }

      .sidenav-link-text {
        margin-left: 1.5rem;
      }
    }
  }

  .sidenav-nav-item:hover {
    .sidenav-nav-link {
      background-color: #fff;
      color: #000;
    }
  }
}

.active {
  background-color: #fff;

  .sidenav-link-icon,
  .sidenav-link-text {
    color: #000;
  }
}

.toolbar-nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 5rem;
  justify-content: space-between;

  .div-toolbar-logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-left: 1.9rem;

    background-color: transparent;
  }

  .logo-toolbar {
    height: 3rem;
  }

  .span-logo-toolbar {
    font-family: "Kanit";
    font-size: 1.3rem;
  }

  .container-alert-logo-user {
    display: flex;
    align-items: center;
    gap: 1rem;

    .icon-alert {
      color: #3753fc;
    }

    .container-logo-user {
      display: flex;
      flex-direction: row;
      align-items: center;

      gap: 1rem;
      margin-right: 1.5rem;

      .logo-user {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
      }

      .user-toolbar {
        font-family: "Kanit";
        font-weight: 400;
      }
    }

    .container-calendar {
      button {
        background: red;
      }
    }
  }
}

:host ::ng-deep {
  .p-calendar {
    height: 2.5rem;
    width: 25rem;

    background-color: #3753fc;

    border-radius: 9px;
  }

  input {
    background-color: #f3f3f3;
  }

  .p-datepicker-title {
    background: none !important;
  }

  .p-icon-wrapper{
    color: white;
  }
}
