<!-- <mat-toolbar class="card-head  toolbar-nav">
  <div>
    <button class="div-toolbar-logo" (click)="toggleCollapse()">
      <img src="../../../assets/logo-fundo-branco.png" alt="" class="logo-toolbar" />
      <span class="span-logo-toolbar">Meu Curso</span>
    </button>
  </div>



  <div class="container-alert-logo-user">
    <span class="material-symbols-outlined icon-alert"> notifications </span>
    <div class="container-logo-user">
      <img src="../../../assets/user/user-logo.jpg" alt="" class="logo-user" />
      <span class="user-toolbar">Fulano.tal</span>
    </div>
  </div>
</mat-toolbar> -->
<!-- <app-header></app-header> -->
<div

  class="container-principal-nav"
>
  <div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
      <button class="logo" (click)="toggleCollapse()"><img class="img-logo" src="../../../assets/logo-fundo-branco.png" alt=""></button>
      <div class="logo-text" @fadeInOut *ngIf="collapsed">Expense Control</div>
      <button
        class="btn-close"
        @rotate
        *ngIf="collapsed"
        (click)="closeSidenav()"
      >
        <i class="fal fa-times close-icon"></i>
      </button>
    </div>
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navData">
        <a
          class="sidenav-nav-link"
          [routerLink]="[data.routeLink]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
            {{ data.label }}
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
