
<mat-toolbar class="card-head  toolbar-nav card-head " [ngClass]="getBodyClass()">
  <div>
    <!-- <button class="div-toolbar-logo" > -->
      <!-- <img src="../../../assets/logo-fundo-branco.png" alt="" class="logo-toolbar" /> -->
      <span class="span-logo-toolbar">Meu Curso</span>
    <!-- </button> -->
  </div>



  <div class="container-alert-logo-user">
    <span class="material-symbols-outlined icon-alert"> notifications </span>
    <div class="container-logo-user">
      <img src="../../../assets/logo-fundo-branco.png" alt="" class="logo-user" />
      <span class="user-toolbar">Fulano.tal</span>
    </div>
  </div>
</mat-toolbar>
