:host ::ng-deep{
  .p-inputgroup .p-inputtext{
    height: 3rem;
    width: 22rem;
    padding-left: 5px;
  }
}

.container-input-register{

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
