<main>
  <section class="section-disciplinas-atuais">
    <div class="container-disciplina">
      <span class="nome-disciplina">Programação de Software Básico</span>
      <div class="botoes-span-disciplina">
        <button class="btn-disciplina">
          <span class="material-symbols-outlined icon-disciplina"> article </span> 6</button
        ><button class="btn-disciplina"
          ><span class="material-symbols-outlined icon-disciplina">border_color</span
          >3</button
        >
        <button class="btn-disciplina"><span class="material-symbols-outlined icon-disciplina"> task </span>6</button>
      </div>
      <span>
        <p-progressBar [value]="50" />
      </span>
    </div>
  </section>

  <section class="section-proximas-atividades">

  </section>
</main>
